################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PS5 NOR Modifier/bin/
/PS5 NOR Modifier/obj/
/dist/
